<div class="map">
  <img
    alt="Map image at coordinates {{@lat}},{{@lng}}"
    ...attributes
    src={{this.src}}
    width={{@width}} height={{@height}}
  >
</div>

{{!-- Created a flexible template with parameters that can later accept changing information ex. @lat, @height, etc --}}